/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://colorschemedesigner.com/#0q416w0w0w0w0 */
@import "bootstrap";

$navbar : #FF6A00;
$light_navbar : $navbar + #444;

$landing : #5DD0C0;
$light_landing : $landing + #444;

$main_step1 : #476BD6;
$light_step1 : $main_step1 + #444;


$main_step2: #FF5900;
$main_step2 : $main_step2 + #444;


.alert-notice {
  background: #EAFDE6;
  color: #1b676b ;
}

.alert-error {
  background: #FFC2CE;
  color: #A2122F;
}

.step-container {
  margin: auto;
  text-align: center;
  .selected {
    background-color: lightgrey;
  }
}

.todo {
  color: lightgrey;
  font-style: italic;
}

.intro-setting {
  margin: 20px 0px;

}

.intro-selected {
  margin-left: 10px;
}



.step {
  margin-right: 10px;
  display: inline-block;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  font-size: 15px;
  text-align: center;

}

.step-text {
  display: inline-block;
  margin-top: 30px;
}

.section {
  margin-top: 20px;
  height: 350px;
}

.selected {
  font-weight:  bold;
}

.people {
  font-size: 20px;
  color: #AAA;
  
  .hover{
    color: $light_step1;
  }

  .selected {
    color: $main_step1;
  }
}

.days {
  font-size: 20px;
  color: #AAA;
  
  .hover {
    color: $light_step1;
  }

  .selected {
    color: $main_step1;
  }
}

.next {
  float: right;
  width: 140px;
  text-align: center;
  background: $navbar;
}

.next:hover{
  background: $light_navbar;
}

.exit {
  float: left;
  width: 140px;
  text-align: center;
}

.new_shopping_list_button {
  float: right;
  width: 160px;
  text-align: center;
  background: $landing;
}

.dishes-list {
  margin-top: 5px;
  margin-bottom: 50px;
  .dish-item {
    cursor:pointer;
    display: inline-block;
    width: 100px;
    height: 100px;
    vertical-align: top;
    margin: 20px 15px;
    
    img {
      width: 100px;
      height: 75px;
      display: inline-block;
      border-radius: 5px;
    }
  } 
  .dish-name {
      margin-top: 5px;
      text-align: center;
    }
}

.dish-selected {
  
  img {
    border: 2px solid $main_step2;
    border-radius: 5px;
    outline-color: $main_step2;
    outline-width: 5px;
    outline-radius: 7px;
    outline-style: solid;
  }
}

.shopping-list-title {
  display: inline-block;
}

.delete-shopping-list {
  display: inline-block;
  margin-left: 10px;
}

.list-detail {
  font-size: 15px;
}


.shopping-list {
  margin: auto;
  width: 600px;

  .list-item {
    background-color: #eee;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
  }

  .ingredient-item {
    display: inline-block;
    float: left;
    width: 65%;
    font-size: 15px;
  }

  .list-qty {
    display: inline-block;
    font-size: 15px;
    width: 35%;
    .list-qty-item {
      display: block;
  
    }
      
    .qty-item {
      display: inline-block;
      margin: 0px 10px;
      width: 5%;
      text-align: right;
    }
    .unit-item {
      display: inline-block;
      margin: 0px 0px 0px 5px;
      width: 70%;
      text-align: right;
    }
  }

}


.meal {
  font-weight: bold;
}

.dish {
  margin-left: 15px;
}

.list-index {
  width: 600px;
  margin: 20px auto;
  display: block;

  .list-item {
    display: inline-block;
    width: 150px;
    height: 150px;
    cursor:pointer;
    border-radius: 10px;
    background: #5DD0C0;
    margin: 20px;
  }

  .list-item:hover{
    background:#FF8F40;
  };

  a {
    text-decoration: none;
  }

  a:hover{
      text-decoration: none;
      background: none;
  }

  p {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: white;
  }

};

.div-spin{
  position: absolute;
  left:50%;
  top:50%;
}

.new-shopping-list-form {
  margin-top: 50px;
}

#sign-up {
  padding:8px;
  padding-left:12px;
  padding-right:12px;
  margin:7px;
  background-color: $landing;
}

#sing-up:hover{
  background-color: $light_landing;
}


.sign-up {
  padding: 10px 80px;
  margin:7px;
  font-size: 20px;
  background: #5C58B7;
  color:white;
  border: solid 1px #5458D8;
}

.sign-up:hover {
  background: #5C85F8;
  color: #fff;  
}


#landing {
  background: url('http://3.bp.blogspot.com/-f4xVYpRJx3E/UeYWE4_RLfI/AAAAAAAAA9c/QHEJZ-5LnRM/s1600/shopping+list1.jpg');
  background-size:100%;
  height: 680px;
}

/*nav bar*/

.navbar {
  margin-bottom:0;
  border-radius:0;
  border-bottom: none;
  border-top:none;
  border-left:none;
  border-right:none;
  background: $navbar;
  color: white;
}

.navbar-default .navbar-nav > li {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
     color: white; 
}


/* stickey footer bootstrap */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;


  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}



footer {
  margin: 0 auto;
  padding: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
}


footer a {
      color: #555;
      text-decoration: none;
    }

footer a:hover {
      text-decoration: none;
      background: none;
      color: #1a1a1a;
      }

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
      float: left;
      margin-left: 10px;
    }


/* Set the fixed height of the footer here */
div#push,
div#footer {
  height: 20px;
}
div#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
div#footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}




.landing-container {
  text-align: center;
  color:white;
  
  margin-top: 40px;
  h1 {
    font-size: 120px;
    font-weight: bold;
    color: $landing;
    text-shadow: 0px 0px 10px $navbar;
    text-shadow: inset 0px 0px 5px $navbar;
    a {
      color: $landing;
    }
    a:hover {
      color: white;
      text-decoration: none;
      background-color: none;
    }
  }
  h3 {
    text-shadow: 0px 0px 5px $landing;
  font-size: 40px;
  font-weight: bold;
  }
  
}

/* i for closing */


i {
  background-image: url('cssspritepro.png');
  display: inline-block;
}
i.close  {
  background-position: px px;
  height: 16px;
  width: 16px;
}
i.close:hold  {
  background-position: px px;
  height: 16px;
  width: 16px;
}