<footer  class="footer navbar-default navbar-fixed-bottom">
  <nav> 
      <span class="text-muted pull-left">Site by Federico   </span>
      <span class="text-muted pull-left">    | thanks <%= link_to 'Yummly ', 'http://www.yummly.com' %>for the recipes</span>
    <ul>
      <li><%= link_to "About",   '#'%></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help", "#" %></li>
    </ul>
  </nav>
</footer>